.firstpg {
  background-image: url("bgpc.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height:1100px;
}

html {
  scroll-behavior: smooth;
}

/*Navbar*/

nav {
  background-color:black;
  height: 70px;
  display: flex;
  justify-content: center;
  text-emphasis-color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

li {
  margin: 0 10px;
}

a {
  display: block;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 25px;
}

nav a {
  color: white;
}

/*My work*/

.div-1 {
  text-align: center;
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color:black;
  font-weight: 900;
  margin-top: 300px;
  margin-left:600px;
} 

#main-h {
  font-size: 60px;
  font-family: Arial, Helvetica, sans-serif;
}

#abtme-h {
  font-size: 55px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 900;
}

.row {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
margin-top:100px;
text-align: center;
align-content: center;
align-items: center;
}

.col {
flex: 1;
margin: 0 10px;
font-size: 20px;
font-family: Arial, Helvetica, sans-serif;
}

h2 {
font-size: 24px;
margin-bottom: 10px;
}

ul {
list-style: none;
padding-left: 0;
}

a {
color: #000;
text-decoration: none;
}

a:hover {
text-decoration: underline;
}
.btn {
background-color: #333;
color: #fff;
border: none;
padding: 10px 20px;
border-radius: 5px;
cursor: pointer;
margin-top: 10px;
font-size: 20px;
height:60px;
}

.btn:hover {
background-color: #555;
}

/*My story*/

.container {
  margin-top:100px;
  margin-left: 340px;
  margin-right: 340px;
  display: flex;
  justify-content: space-between; /* or justify-content: space-around; */
}

.box-2 {
  width: 800px;
  height: 500px; /* or any desired height */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 25px;
  font-weight: 200;
  background-color: #D3D3D3;
  padding-left: 50px;
  padding-right: 50px;
}

#mystoryh {
  padding-left: 230px;
}

/*Projects heading*/

#pro-h {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  font-size: 100px;
}

/*Projects section*/

.row {
  margin-left: 100px;
  margin-right: 100px;
  display: flexbox;
}

.secrow {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 100px;
}

.col {
  margin-left:20px;
}

/*My story image*/

#special {
  border:3px solid black;
}

/*Services I provide*/

.bgimgs {
  display:flex;
  margin-top:100px;
}

.clrdiv1 {
  background-color: rgb(234, 221, 221);
  color: #000;
  width: 25%;
  height:700px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  padding-left:100px;
  padding-right:100px;
}

.clrdiv2 {
  background-color:pink;
  color: #000;
  width:25%;
  height:700px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  padding-left:100px;
  padding-right:100px;
}

.clrdiv3 {
  background-color:#c7e3ed;
  color: #000;
  width:25%;
  height:700px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  padding-left:100px;
  padding-right:100px;
}

.clrdiv4 {
  background-color: rgb(240, 222, 186);
  color: #000;
  width:25%;
  height:700px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  padding-left:100px;
  padding-right:100px;
}


.headingOfDivs {
  font-family: cursive;
  font-size: 45px;
  text-align: center;
}

/*Total projects and skills*/

.container2 {
  display: flex;
}

.skills {
  display: flex;
}

.num {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 100px;
  margin-left: 300px;
}

.h {
  font-size: 40px;
  font-weight: bold;
  margin-left: 250px;
}

#s1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 30px;
  margin-left:200px;
  width: 50%;
}

/*Skills section*/

#s3 {
  margin-top: 0px;
  margin-left:300px;
  width:50%;
}

.progress-bar-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
  width: 300px;
}

.progress h2 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
}

.progress-bar {
  height: 20px;
  background-color: #ddd;
  position: relative;
  margin-bottom: 10px;
}

.progress-bar-label {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  line-height: 30px;
  font-weight: bold;
  color: #333;
}

#text {
  text-align: left;
}

/*Skills heading*/

#skillsh {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 100px;
  font-weight: bold;
}

/*Packages section*/

.cont {
  display: flex;
  margin-top: 50px;
  margin-left: 300px;
  margin-right: 200px;
  align-items: center;
}

.cont1 {
  width: 500px;
  height: 800px;
  background-color: #ddd;
  border: 10px rgb(241, 142, 224);
  border-radius: 10px;
  margin-left: 20px;
  text-align: center;
  font-size: 25px;
}

.cont2 {
  width: 500px;
  height: 800px;
  background-color: #ddd;
  border: 10px skyblue;
  border-radius: 10px;
  margin-left: 20px;
  text-align: center;
  font-size: 25px;
}

.cont3 {
  width: 500px;
  height: 800px;
  background-color: #ddd;
  border: 10px rgb(243, 78, 32);
  border-radius: 10px rgb(243, 78, 32);
  margin-left: 20px;
  text-align: center;
  font-size: 25px;
}

#subcont1 {
  height: 25%;
  background-color: rgb(241, 142, 224);
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 50px;
  text-align: center;
  padding-top: 80px;
  margin-bottom: 20px;
}

#subcont2 {
  height: 25%;
  background-color: skyblue;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 50px;
  text-align: center;
  padding-top: 80px;
  margin-bottom: 20px;
}

#subcont3 {
  height: 25%;
  background-color: rgb(243, 78, 32);
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 50px;
  text-align: center;
  padding-top: 80px;
  margin-bottom: 20px;
}

/*Profile pic section*/

.circle {
  width: 300px;
  height: 300px;
  border: #333;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  margin-top: 100px;
  margin-left: 950px;
}

.image {
  width: 300px;
  height: 300px;
  background-image: url('profile\ pic.jpeg');
  background-size: cover;
  border-radius: 50%;
}

/*Text below profile pic*/

#profileheader {
  margin-top: 0px;
  font-size: 50px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-left: 700px;
}

#name {
  margin-top: 30px;
  font-size: 50px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-left: 850px;
}

/*Projects pics*/

.image-row {
  display: flex;
  margin-top: 100px;
}

/*Container4*/

#Contact {
  margin-top:0px;
  font-size: 60px;
  margin-left: 400px;
  margin-bottom: 0px;
  font-family: cursive;
  margin-top: 50px;
}

#follow {
  margin-top:0px;
  font-size: 60px;
  margin-left: 1500px;
  margin-bottom: 0px;
  font-family: cursive;
  margin-top: 50px;
}
.container4 {
  margin-top: 0px;
  display:flex;
}

.subcont41 {
  margin-left: 100px;
  width:50%;
  height:750px;
  border-radius: 5px;
  background-color:whitesmoke;
  padding: 20px;
  font-size: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 0px;
}

.subcont42 {
  margin-left: 100px;
  width:50%;
  height: auto; /* set the height to adjust automatically */
  border-radius: 5px;
  background-color:whitesmoke;
  padding: 20px;
  font-size: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top:0px;
}


input[type=text], select {
  width: 35%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 20px;
}

input[type=submit] {
  width: 25%;
  height: 50px;
  background-color: black;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-content: center;
  align-items: center;
  font-size: 20px;
  margin-left: 350px;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.subcont42 {
  margin-left: 100px;
  width:50%;
  height:700px;
  margin-right: 100px;
  align-items: center;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
  padding-top: 70px;
  color: purple;
  font-weight: bold;
}

#subject {
  width:100%;
  height:70px;
}

#msg {
  width:100%;
  height:150px;
}

#habtme {
  width:100%;
  height:70px;
}

.social-links {
  margin-top: 20px;
  font-size: 18px;
}

.social-links h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.social-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-links li {
  margin-bottom: 10px;
}

.social-links a {
  display: block;
  color: blue;
  text-decoration: none;
}

.subcont42 a:hover {
  color: darkblue;
}

/*My work*/

.container5 {
  background-color:lightgray;
  display: flex;
  flex-wrap: wrap;
  margin-top:100px;
  padding:50px;
}

.container5 img {
  width: calc(25% - 40px); /* sets the width of each image with a gap of 20px */
  height: auto;
  margin: 20px;
}

/*Map*/

.container6 {
  background-image: url(map.jpg);
  width:100%;
  height:700px;
}

/*Footer*/ 

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px;
  font-size: 16px;
  font-size: 25px;
}